<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Can I Compost This?- About this site</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!--<script src="/node_modules/angular/angular.js"></script>-->
</head>
<body>


<div class="container col-md-12">

    <div class="row">

        <div class="panel panel-default">
            <div class="panel-heading"><h1>About</h1></div>
            <div class="panel-body">
                <div class="row">
                    <div class="row">
                        <div class="col-md-5">
                <h2>Who</h2>
                <p class=>This site is intended for a novice to intermediate composter. Future versions will add in more advanced knowledge.</p>
                            </div></div>


                        <h2>What</h2>
                <p>A key to the symbols on the main page:</p>

                    </div>

                <div class="row center1">
                    <figure class="figure">
                        <img src="images/red-wigglersMD.jpg" alt="Yes for the worm bin" />
                        <figcaption class="figure-caption">Your worms will love it!</figcaption>
                    </figure>
                    <figure class="figure">
                        <img src="images/ComposterLG.jpg"  alt="Yes for backyard bin" />
                        <figcaption class="figure-caption">This is great for your backyard bin!</figcaption>
                    </figure>
                </div>


                <div class="row center1">
                    <figure class="figure">
                        <img src="images/greencartLG.jpg" alt="Yes for the curbside collection" />
                        <figcaption class="figure-caption">This can go in your curbside bin for collection.</figcaption>
                        </figure>
                    <figure class="figure">
                        <img src="images/2000px-ProhibitionSign2png.png" alt="No, this should not be composted." height="276" width="276" />
                    <figcaption class="figure-caption1">Do not compost. Please dispose of according to your local authority's rules.</figcaption>
                    </figure>
                </div>

    <div class="row">
        <div class="col-md-5">
        <h2>Why</h2>

                <p>Composting is important because it saves a valuable resource from ending up in the landfill or incinerator. Your food scraps and other items can break down and become dirt!</p>

                <p>I noticed a lot of information for composting is in static form and not a searchable database. I wanted a quick resource to look up an item. I will be starting with more basic items and adding to the database. You can also contact me via the form on the website and ask about a particular item.</p>
                    </div>
        <div class="col-md-5">
        <h2>Where</h2>
                <p>You can compost inside your home,  on your porch, in your backyard, and curbside with municipal collection. Of course there are a lot of variables, such as does your city or hauler provide collection of compostables, does your community have rules or prohibitions regarding backyard composting </p>
                    </div>
        </div>
     <div class="row">
         <div class="col-md-5">
         <h2>When</h2>
                <p>Composting can be done almost anywhere. If you live somewhere with sometimes arctic winters like I do, the process is a little different for the worms, and for my backyard bin. First, I have to bring in my worms from the porch when the temperature dips below 40F/5C. Also they don't really like it above 80F/26C, so please keep them in the shade if they are outside in the heat.  </p>
                <p>Also, your backyard bin will slow down the breakdown process in the winter if it gets cold like it does in Minnesota. You can still choose to add to it, but understand your bin will fill up quite a bit before it can start breaking down again in the spring/summer. </p></div>
         <div class="col-md-5">
         <h2>How</h2>
                <p>Please check out the <a href="links.html">links</a> page for information on how to get started composting, the kind of container you need, tips and troubleshooting. There is a lot of great information on the web and I will help get you started</p>
             </div>
            </div>
        </div>
            <nav class="navbar-fixed-bottom">
                <ul class="nav nav-pills nav-justified">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/links">Links</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>
        </div>
</div>
</div>
</body>
</html>