<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Can I Compost This?- About this site</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!--<script src="/node_modules/angular/angular.js"></script>-->
</head>
<body>


<div class="container">

    <div class="row">


        <div class="panel panel-default">
            <div class="panel-heading"><h1>About Can I Compost This?</h1></div>
            <div class="panel-body">


                <h2>Who</h2>
                <p>This site is intended for a novice to intermediate composter. Future versions will add in more advanced knowledge.</p>
                <h2>What</h2>
                <p>Maybe you are wondering what the symbols mean when you enter in a search term. Here is a key to help.</p>
                <!--<div id="symbols">-->
                    <!--<div id="left"><img src="images/red-wigglersSM.jpg" alt="Yes for the worm bin" />-->

                    <!--</div>-->
                    <!--<div id="right">This means you can put it in your worm bin,but please do not overfeed your worms.</div>-->
                <!--</div>-->

                <ul id="what">
                    <li>This means you can put it in your worm bin,but please do not overfeed your worms.</li>
                    <li><img src="images/red-wigglersSM.jpg" alt="Yes for the worm bin" /></li><br />
                    <li>This is appropriate for your backyard bin.</li>
                    <li><img src="images/Composter.jpg" alt="Yes for backyard bin" /></li><br />
                    <li>This item can go in your curbside bin for collection, if no other option.</li>
                    <li><img src="images/greencart.jpg" alt="Yes for the curbside collection" /> </li><br />
                    <li>This item should not go in the compost. Please dispose of according to your local authority's rules.</li>
                    <li><img src="images/smallNO.png" alt="No, this should not be composted." /></li>
                </ul>
            <div>
                <h2>Why</h2>
                <p>I noticed a lot of information for composting is in static form and not a searchable database. The way we get our information has changed a lot. We might be out in the yard or in the kitchen and wondering if an item can be composted or not, and if you are like me, you have several different options for composting. Instead of looking for a book, doing an internet search, or picking up the phone, I wanted a quick resource to look up an item. I will be starting with more basic items and adding to the database. You can also contact me via the form on the website and ask about a particular item </p>

                <p>Composting is also important because it saves a valuable resource from ending up in the landfill or incinerator. Your food scraps and other items can break down and become dirt! </p>
                <h2>Where</h2>
                <p>You can compost inside your home,  on your porch, in your backyard, and curbside with municipal collection. Of course there are a lot of variables, such as does your city or hauler provide collection of compostables, does your community have rules or prohibitions regarding backyard composting (and if they do, I highly suggest you contact the folks who are in charge of those rules, be it a homeowner's association or your city council and ask/persuade/write compelling arguments about why they should allow composting or provide pickup. And as far as worms go, I confess it took several years before I was willing to share my home with a bunch of worms in a bin. But I am sure glad I did. Their poop is great for my potted plants and garden.  </p>
                <h2>When</h2>
                <p>Composting can be done almost anywhere. If you live somewhere with sometimes arctic winters like I do, the process is a little different for the worms and for my backyard bin. First, I have to bring in my worms from the porch. They don't like temperatures below 40F/5C. Also they don't really like it above 80F/26C, so please keep them in the shade if they are outside in the heat.  </p>
                <p>Also, your backyard bin will slow down the breakdown process in the winter if it gets cold like it does in Minnesota. You can still choose to add to it, but understand your bin will fill up quite a bit before it can start breaking down again in the spring/summer. </p>
                <h2>How</h2>
                <p>Please check out the <a href="links.html">links</a> page for information on how to get started composting, the kind of container you need, tips and troubleshooting. There is a lot of great information on the web and I will help get you started</p>

            </div>
        </div>



        <nav>
            <ul class="nav nav-pills nav-justified">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/links">Links</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
        </div>
</div>

<footer>Legend: worm picture= worm bin, backyard bin picture= can go in backyard, curbside container= can/should go in curbside, NO! =Do not compost</footer>
</body>
</html>