<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" ng-app="myApp">
    <title>Contact Can I Compost This? </title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script src="/node_modules/angular/angular.js"></script>
</head>

<div class="container col-md-12">
<div class="row">

    <form class="panel panel-default">
        <div class="panel-heading"><h1>Contact</h1></div>
        <div class="panel-body">
            <form class="contact-form">
                <form class="form-horizontal" role="form">

                    <div class="form-group">
                        <label for="name">Name: </label>
                            <input type="text" class="form-control" id="name" placeholder="Name">
                        </div>
                    <div class="form-group">
                        <label for="email">Email: </label>
                            <input type="email" class="form-control" id="email" placeholder="Email">
                    </div>

                    <div class="form-group">
                            <label for="subject">Subject: </label>
                            <div>
                                <select id="subject" name="subject">
                                    <option value="na" selected="">Choose One:</option>
                                    <option value="service">Can I compost this?</option>
                                    <option value="suggestions">Problems with website</option>
                                    <option value="product">General feedback/questions</option>
                                </select>
                            </div>
                    </div>

                    <div class="form-group">
                            <label for="message">Message: </label>
                            <textarea class="form-control" id="message" placeholder="Message"></textarea>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-lg btn-success">Submit your message!</button>
                        </div>
                    </div>
        </div>
        <nav class="navbar-fixed-bottom">
            <ul class="nav nav-pills nav-justified">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/links">Links</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </form>
</div>
</div>
</div>

</body>
</html>