<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Can I Compost This?</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script src="/node_modules/angular/angular.js"></script>
</head>
<body>

<div class="container col-md-12">
    <div class="row">


        <div class="panel panel-default">
            <div class="panel-heading"><h1>Learn More!</h1></div>
            <nav class="navbar">
                <ul class="nav nav-pills">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/links">Links</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>
            <div class="panel-body col-md-6 col-md-offset-4" id="resources">
                <h2>Worms</h2>
                    <ul class="black">
                        <li><a href="http://www.wormwoman.com/acatalog/vermicomposting.html">Get started worm composting</a></li>
                        <li><a href="http://www.planetnatural.com/worm-composting/">The Dirty Truth About Vermicomposting</a></li>
                        <li><a href="http://www.eulesstx.gov/composting/vc_whatis.htm">Very comprehensive site!</a></li>
                        <li><a href="http://www.wormcity.co.uk/wormfaq.htm">This answers a lot of questions about worms!</a></li>

                    </ul>

                <h2>Backyard</h2>
                <ul>
                    <li><a href="http://www2.epa.gov/recycle/composting-home">US EPA website about backyard composting</a></li>
                    <li><a href="http://www.extension.umn.edu/garden/yard-garden/soils/backyard-composting-guide/">University of Minnesota Extension-Backyard composting guide</a>
                    <li><a href="http://lifehacker.com/this-infographic-shows-what-you-can-and-cant-turn-int-1573697778">Cool infographic on benefits of composting</a>
                </ul>

                <h2>Books</h2>
                <ul>
                    <li><a href="https://www.wormwoman.com/acatalog/Wormwoman_catalog_Worms_Eat_My_Garbage_3.html">Worms Eat My Garbage: How to Set Up & Maintain a Worm Composting System, by Mary Appelhof</a></li>
                </ul>
            </div>
        </div>

    </div>
</div>
</body>
</html>