body {
  padding: 0 0 50px 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}
h1{
    font: 72px Roboto, sans-serif;
}

.panel-body{
    margin-left: 100px;


}
.panel-heading {
    background-image: url("/images/header.jpg");

}
.panel-default > .panel-heading {
  font: 24px Helvetica, sans-serif;
  color: whitesmoke;
  background-color: darkgreen;
  text-align: left;
  font-weight: bold;

}

h2{
  font: 24px "Roboto", sans-serif;
  color: darkgreen;
}

h3 {
    color: darkgreen;
    /*margin: 0 25px 10px 0px;*/
    /*}*/
}
a {
  color: forestgreen;
   text-decoration: none;
}

#resources a {
    color: black;
    text-decoration: none;
}

#resources a:hover {
    color: forestgreen;
    text-decoration: none;
}


 .item {padding-bottom: 20px;
 }

.panel > .panel-footer{
  background-color: darkgreen;

}



p{
  margin:0 25px 10px 25px;
}

.center {
    text-align: center;

    }


#indexPic li {
    display: inline-block;
    text-align: center;
}

.nav {
    display: inline-block;
    text-align: center;
    font: 30px Roboto, sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    color: whitesmoke;
    background-color: #4A2500;
    padding: 10px;
}

.nav-pills a {
    color: whitesmoke;
}

.form {
    background-color: white;
    border: none;
}
.form-control
{
    width: 300px;
}

.nav > li > a:hover{
    background-color:forestgreen;
}

.btn-success{
    background-color: forestgreen;
    /*margin-top: 25px;*/
}

.moveleft{
    margin-left: -50px;
}

.movemoreleft {
    margin-left:-200px;
}


#resources li{
    text-align: left;
    list-style-type: none;
}

#what li{
    list-style-type: none;
    display: inline-block;
}

.copyright{
    text-align: right;
    color: darkgrey;
}

figure
{
    display: inline-table;
    width:25%;
    float:left;
    margin:20px;
    text-align:left;
    padding:20px 40px 0 0;
}

.figure-caption {
    padding-top: 40px;
}

.figure-caption1 {
    padding-top: 90px;
}

.center1 {
    margin-left: 17%;
}
/*.picwidth{*/
   /*margin-left: 100px;*/
/*}*/


}
